.gradle
build
.idea
.kotlin
config/application-secrets.yml
data/profile-images/*
!data/profile-images/.gitkeep
*.iml
work_payu
.git
.github
*.md
Dockerfile
docker-compose*.yml
build/libs
build/reports
build/test-results
tmp
