<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- PayU Checkout Pro declares a default application label and theme. -->
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.RechargeClient"
        android:label="mPay"
        android:icon="@drawable/mpay_logo"
        android:roundIcon="@drawable/mpay_logo"
        tools:replace="android:theme,android:label">
        <!-- PayU Checkout Pro test environment endpoints. Remove/disable these for production. -->
        <meta-data android:name="payu_debug_mode_enabled" android:value="true" />
        <meta-data android:name="payu_web_service_url" android:value="https://test.payu.in" />
        <meta-data android:name="payu_post_url" android:value="https://test.payu.in" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
